<!DOCTYPE html>
<html lang="en">

  <meta charset=utf-8 />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

 <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>

<div id='map-leaflet' class='map'> </div>

<script>
var lat = '{{lat}}';
var lon = "{{lon}}";
var res = "{{res}}".split("&#34;").join("\"");
var resJSON =JSON.parse(res);
var hits = resJSON.hits.hits;
var message = "{{message}}"
var parklati = "{{parklati}}"
var parklongi = "{{parklongi}}"

L.mapbox.accessToken = "{{mapbox}}";
var mapLeaflet = L.mapbox.map('map-leaflet', 'mapbox.streets')
  .setView([lat, lon],20) 

/*var myLocationIcon = L.icon({
	marker-size: 'large',
        marker-symbol: 'bus',
        marker-color: '#fa0',
	iconSize: [30, 70],
	iconAnchor: [22, 94],
	popupAnchor: [-3, -76],
	//shadowUrl: 'my-icon-shadow.png',
	//shadowRetinaUrl: 'my-icon-shadow@2x.png',
	//shadowSize: [68, 95],
	//shadowAnchor: [22, 94]
});*/

L.marker([lat,lon], {riseOnHover:"True", title:"You're here!", draggable:true,
		 icon:L.mapbox.marker.icon({
        'marker-size': 'medium',
        'marker-symbol': 'star',
        'marker-color': '#fa0'
    })}).addTo(mapLeaflet);

if(message!=null && message=="success")
{
	alert("That's your spot")
}

if(parklati)
{	
L.marker([parklati,parklongi],{riseOnHover:"True",icon:L.mapbox.marker.icon({
        'marker-size': 'medium',
        'marker-symbol': 'car',
        'marker-color': '#fa0'
    })},{draggable:true}).bindPopup("That's your spot").addTo(mapLeaflet);
}

for(i=0; i<hits.length; i++){
	result=hits[i]._source.location;
	L.marker([result.lat,result.lon],{riseOnHover:"True",icon:L.mapbox.marker.icon({
        'marker-size': 'medium',
        'marker-symbol': 'parking',
        'marker-color': '#3ca0d3'
    })})
	.bindPopup(
		hits[i]._source.signdesc+" "+ result.lat+ " " + result.lon /*+'<form action="/parkhere" method="GET" id="parkhere"><input type="hidden" id="lati" value= name="lati"><input type="hidden" id="longi" value="longi" name="longi"><input type="hidden" id="parklati" value="parklati" name="parklati"><input type="hidden" id="parklongi" value="parklongi" name="parklongi"><input type="hidden" id="parkingspotid" value="lati" name="parkingspotid"><input type="submit" value="Park Here!"></form>'
		*/)
	.addTo(mapLeaflet);
}
//mapLeaflet.scrollWheelZoom.disable();
</script>
</body>
</html>
